/* h1 ,div{
    color: blue;
}
.main{
    height: 200px;
    width: 200px;
    border: 1px solid red; */
    /* position: absolute; */
    /* position: relative; */
    /* position: static; */
/* }
.div{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    display: inline-block;
} */


h1{
    background: white;
    font-family: areal;
    font-style: none;
    font-size: 100px;
}
@media screen and (max-width:1200px){
    body{
        background: pink;
        font-style: italic;
        font-size: 80px;   

    }
}
@media screen and (max-width:1000px){
    body{
        background: green;
        font-style: normal;
        font-size: 60px;

    }
}
@media screen and (max-width:700px){
    body{
        background: yellow;
        font-style: oblique;
        font-size: 100px;
    }
}
@media screen and (max-width:480px){
    body{
        background: red;
        font-style: inherit;
        font-style: 20px;
    }
}